.mypage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.calendar-container {
  margin-bottom: 20px;
}

.pentagon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
